.App{
  min-height: 100vh;
  background-color: rgb(146, 132, 132);
  margin: 3px;
}

.mybody{
display:flex;
gap:3em;
padding:4px;
}
h2{
  text-align: center;
  font-size: 40px;
  color:blanchedalmond;
}
form{
  flex-direction: column;
  align-items: center;
  text-align: left;
  margin-top:20%;
  flex:5;
}
input,textarea{
  display: inline-block;
  margin-top: 10px;
  width: 100%;
  font-size: 12px;
  border-radius:2px;
  border:3px solid rgb(234, 123, 138);
}
button.btn.btn-primary{
  margin-top:25px;
}
ul{
  list-style-type: none;
}
.card {
  padding: 2em;
  background-color: white;
}

.read-the-docs {
  color: #888;
}
label.form-label{
  color:rgb(27, 25, 23);
  padding:2px 0 2px 0;
  font-size: 20px;
}